{% extends "base.html.twig" %}

{% block body %}
    <div class="resultResearch" style="color: #FFF;">
        <h1>{{ title }}</h1>
        <p>
            {{ content }}
        </p>
        {% if image != "" %}
            <img width="15%" height="15%" src="{{ image }}">
        {% endif %}
        <a href="{{ link }}">Accéder à l'article</a>
    </div>
{% endblock %}
