<div class="col-xs-10 offset-xs-1 message">
    Cliquer sur une musique pour la lancer
</div>
<ul class="col-xs-12">
    {% for song in songs %}
        <li class="container">
            <div class="col-xs-1 actions">
                <span title="Ajouter à une playlist" class="add-to-playlist" data-type="deezer" data-name="{{ song.title }}" data-id="{{ song.id }}">
                    +
                </span>
            </div>
            <div class="col-xs-1 actions">
                <span title="Ecouter la musique" data-song-id="{{ song.id }}" data-platform="deezer" class="playTrack">
                    ►
                </span>
            </div>
            <div class="col-xs-10">
                {{ song.title }}
            </div>
        </li>
    {% endfor %}
</ul>