<div class="col-xs-10 offset-xs-1 message">
    Cliquer sur une musique pour la lancer
</div>
<ul class="col-xs-12">
    {% for song in songs %}
        <li data-song-id="{{ song.id }}" data-platform="spotify" class="playTrack">{{ song.name }}</li>
    {% endfor %}
</ul>