<div class="numbers">
    <div class="account-infos backgound-grey container">
        <div class="title col-md-12">
            Vos chiffres
        </div>
        <div class="plateform col-md-4">
            <div class="icon" style="background-image:url({{ asset('img/dashboard/youtube.png') }});"></div>
            <div class="number">25</div>
            <div class="text">Youtube</div>
        </div>
        <div class="plateform col-md-4">
            <div class="icon" style="background-image:url({{ asset('img/dashboard/spotify.png') }});"></div>
            <div class="number">15</div>
            <div class="text">Artistes suivis</div>
        </div>
        <div class="plateform col-md-4">
            <div class="icon" style="background-image:url({{ asset('img/dashboard/soundcloud.png') }});"></div>
            <div class="number">8</div>
            <div class="text">Comptes suivis</div>
        </div>
    </div>
    <div class="discover-artist">
        {{ render(controller('AppBundle:Wikipedia:homeInfosPanel')) }}
    </div>
</div>