<div class="col-xs-10 offset-xs-1">
    {% for song in songs %}
        <div class="item {% if loop.index is odd %}odd{% endif %} playTrack"  data-song-id="{{ song.id }}" data-platform="deezer">
            <div class="song">
                {{ song.title }}
            </div>
            <div class="artist">
                {{ song.artist.name }}
            </div>
        </div>
    {% else %}
        <div>
            Aucun son trouvé dans cette playlist
        </div>
    {% endfor %}
</div>