{% for song in songs %}
    <div>
        <div>
            {{ song.track.name }}
        </div>

        <div>
            {{ song.track.artists[0].name }}
        </div>
    </div>
{% else %}
    <div>
        Aucun son trouvé dans cette playlist
    </div>
{% endfor %}
