<form class="col-xs-12" action="{{ path('deezer_create_playlist') }}" method="post">
    <input type="text" value="{{ "dashboard.deezer.createPlaylist.name"|trans }}" name="name">
    <br/>
    <input type="submit" class="button" value="{{ "dashboard.youtube.createPlaylist.create"|trans }}">
</form>

