<div class="thumbnails">
    <div class="item active" data-thumb="1">Connexion</div>
    <div class="item" data-thumb="2">Inscription</div>
</div>
<div class="content">
    <div class="content-thumb thumb-1 active">
        <div class="title">
            Connexion
        </div>
        <form action="" method="POST">
            <input type="text" placeholder="Identifiant...">
            <input type="text" placeholder="Mot de passe...">
            <input class="button" type="submit" value="Se connecter">
        </form>
    </div>
    <div class="content-thumb thumb-2">
        <div class="title">
            Inscription
        </div>
        <form action="" method="POST">
            <input type="text" placeholder="Identifiant...">
            <input type="text" placeholder="Mot de passe...">
            <input class="button" type="submit" value="Se connecter">
        </form>
    </div>
</div>