#container-account{
    margin:0 auto 100px;
    color:white;
}
/***********************************************************************************************************/
/*                                  PAGE DE CONNEXION / INSCRIPTION                                        */
/***********************************************************************************************************/

#container-account .container-form{
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    margin-bottom: 50px;
}
    #container-account .container-form .title{
        font-size:30px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
        #container-account .container-form .title:first-child{
            margin-top: 0px;
        }
    #container-account .container-form form{
        text-align: center;
    }
        #container-account .container-form input{
            display: block;
            width: 200px;
            margin:0px auto 0px;
        }
        #container-account .container-form input[type=text]{
            border-radius: 2px;
        }
        #container-account .container-form input[type=password]{
            border-radius: 2px;
        }
        #container-account .container-form input[type=email]{
            border-radius: 2px;
        }
        #container-account .container-form form label{
            display: block;
            text-align: center;
            margin-top:20px;
        }
            #container-account .container-form form label:after{
                content: " :";
            }
        #container-account .container-form form input[type=submit]{
            padding:5px;
            font-size:90%;
            margin-top:30px;
        }
    #container-account .header-login{
        text-align: center;
        font-size:25px;
    }
        #container-account .header-login span{
            font-size:40px;
            color:#e39816;
        }
        #container-account .header-login img{
            margin-top:20px;
            margin-bottom:20px;
            height:100px;
        }

/***************************************************************/
/*                        LOGIN                                */
/***************************************************************/


    #container-account .container-form.login input[type=text]{
        margin-bottom: 10px;
        border-radius: 2px;
    }
    #container-account .container-form.login input[type=password]{
        margin-bottom: 10px;
        border-radius: 2px;
    }
    #container-account .container-form.login input[type=email]{
        margin-bottom: 10px;
        border-radius: 2px;
    }



/***************************************************************/
/*                            REGISTER                         */
/***************************************************************/

    #container-account .container-form .register{
        text-align: center;
        border-top: 1px solid grey;
        margin-top:30px;
    }
        #container-account .container-form .register .title{
            margin-top:15px;
            margin-bottom: 0px;
        }



/***********************************************************************************************************/
/*                                  TEMPLATE DE LA PARTIE "ACCOUNT"                                        */
/***********************************************************************************************************/


/***************************************************************/
/*                        ACCOUNT                              */
/***************************************************************/
    #container-account .connexion-container{

    }
        #container-account .connexion-container .title{
            font-size:30px;
            text-align: center;
            margin-bottom: 30px;
        }
        #container-account .connexion-container .part{
            text-align: center;
            border-left: 1px solid grey;
        }
            #container-account .connexion-container .part:first-child{
                border-left: none;
            }
            #container-account .connexion-container .part .logo{
                height:20px;
                opacity: 0.2;
                margin-left: 10px;
            }
                #container-account .connexion-container .part .logo.active {
                    height: 20px;
                    opacity: 0.9;
                }
            #container-account .connexion-container .part .name{
                font-size: 200%;
                margin: 10px auto 10px;
            }
            #container-account .connexion-container .part .button.deconnect {
            }
    #container-account .redirect-modify{
        text-align: center;
        background-color: rgba(0,0,0,0.4);
        padding:30px;
        margin-top:70px;
        margin-bottom:40px;
    }
        #container-account .redirect-modify .title{
            font-size: 30px;
        }
        #container-account .redirect-modify .button{
        }




/***************************************************************/
/*                        MODIFY ACCOUNT                       */
/***************************************************************/

    #container-account .form-modify select{
        display: none;
    }
    #container-account .form-modify .favorite-plateform-choice{
        margin-top:20px;
    }
        #container-account .form-modify .favorite-plateform-choice div{
            background-color: rgba(0,0,0,0.4);
            padding:15px 0;
        }
            #container-account .form-modify .favorite-plateform-choice div:hover{
                background-color: rgba(255,255,255,0.1);
                cursor: pointer;
                user-select: none;
            }
            #container-account .form-modify .favorite-plateform-choice div.active{
                background-color: #a66c13;
            }
            #container-account .form-modify .favorite-plateform-choice div img{
                height:15px;
            }

/***********************************************************************************************************/
/*                                  PAGE MODIFICATION DE COMPTE                                            */
/***********************************************************************************************************/





















/********************************************************************************************/
/*                                      RESPONSIVE                                          */
/********************************************************************************************/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

    #container-account .header-login{
        font-size:50px;
    }
        #container-account .header-login span{
            font-size:130px;
        }
        #container-account .header-login img{
            display: none;
        }
    .container-form{
        width: 100% !important;
        margin:0 !important;
    }
    .button{
        font-size:5em !important;
        width:100% !important;
    }






    .connexion-container{
        border-bottom: 1px solid grey;
    }
    .connexion-container .part{
        width: 100% !important;
    }
    .connexion-container .part .button{
        font-size: 1em !important;
        margin-bottom:15px; !important;
    }
    .connexion-container .part .title{
        margin:0 !important;
    }
    .redirect-modify{
        width: 100% !important;
        margin:0 !important;
    }
        .redirect-modify .button{
            font-size: 1.5em !important;
        }
}