#container-account{
    margin-top:70px;
    color:white;
}
    #container-account .connexion-container{

    }
        #container-account .connexion-container .title{
            font-size:30px;
            text-align: center;
            margin-bottom: 30px;
        }
        #container-account .connexion-container .part{
            text-align: center;
            border-left: 1px solid grey;
        }
            #container-account .connexion-container .part:first-child{
                border-left: none;
            }
            #container-account .connexion-container .part .logo{
                height:20px;
                opacity: 0.2;
                margin-left: 10px;
            }
                #container-account .connexion-container .part .logo.active {
                    height: 20px;
                    opacity: 0.9;
                }
            #container-account .connexion-container .part .name{
                font-size: 200%;
                margin: 10px auto 10px;
            }
            #container-account .connexion-container .part .button.deconnect {
            }
    #container-account .container-tab{
        width:50%;
        margin:auto;
    }
        #container-account .container form{
            text-align: center;
        }
            #container-account .container-tab .content input{
                display: block;
                width: 200px;
                margin:20px auto 0px;
            }
                #container-account .container-tab .content input[type=text]{
                    border-radius: 2px;
                }
                #container-account .container-tab .content input[type=password]{
                    border-radius: 2px;
                }
                #container-account .container-tab .content input[type=email]{
                    border-radius: 2px;
                }
                #container-account .container-tab .content input[type=submit]{
                    padding:5px;
                    font-size:90%;
                }
            #container-account .container-tab .content .content-thumb form label{
                display: block;
                text-align: center;
            }
                #container-account .container-tab .content .content-thumb form label:after{
                    content: " :";
                }
            #container-account .container-tab .content .content-thumb form input{
                display: block;
                margin: 0px auto 20px !important;
            }
