#main-container{
}


/********************************************************************************************/
/*                                      CONNEXIONS                                          */
/********************************************************************************************/
.part-connexion{
    text-align: center;
}
    .part-connexion img{
        height: 30px;
        opacity: 0.5;
    }
    .part-connexion .button{
        font-size: 80%;
        padding:5px 10px;
    }


/********************************************************************************************/
/*                              CREATION PLAYLIST                                           */
/********************************************************************************************/
.part-playlist{
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding:20px 0px;
    margin-top:40px;
    font-size: 25px;
}
    .part-playlist .title{
        margin-bottom: 20px;
    }
    .part-playlist .button{
        font-size:20px;
        padding:5px 20px;
    }

/********************************************************************************************/
/*                                      TRANSFERTS                                          */
/********************************************************************************************/
.part-transfer{
    background-color: rgba(0,0,0,0.4);
    margin:0 auto 30px;
    text-align: center;
    font-size:30px;
    padding: 40px;
}
    .part-transfer img{
        height:200px;
        margin-top:30px;
    }
    .part-transfer .button{
        margin-top:40px;
        font-size:20px;
    }






/********************************************************************************************/
/*                                      DECOUVERTE                                          */
/********************************************************************************************/

.part-discover{
    text-align: center;
    border-top:1px solid grey;
    padding-top:40px;
}
    .part-discover .title{
        color:#e39816;
        font-size:40px;
    }
         .lastfm{
            overflow: hidden;
            margin:30px auto 30px;
            border:none;
            color: white;
        }
            .lastfm .value-search{
                font-size:20px;
                margin-bottom: 20px;
            }
             .lastfm .picture{
                text-align: center;
            }
                 .lastfm .picture img{
                    width: 40%;
                    border-radius: 360px;
                }
             .lastfm .content{
            }
                 .lastfm .content .icon{
                    text-align: center;
                }
                     .lastfm .content .icon img{
                        max-height:30px;
                    }
                 .lastfm .content .description{
                    padding: 15px;
                    text-align: justify;
                }
                 .lastfm .numbers{
                    border-left: 1px solid grey;
                    min-height:200px;
                }
                 .lastfm .numbers .title{
                        text-align: center;
                        color:#e39816;
                        font-size:200%;
                    }


.numbers .tags{
    width:90%;
    margin:auto;
}
.numbers .tags span{
    background-color:#e39816;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
    margin-top:5px;
    display: inline-block;
    font-size:80%;
}


/********************************************************************************************/
/*                                      2 COLONNES                                            */
/********************************************************************************************/

.container-2-cols{
    padding:0px;
}
    .container-2-cols div.left{
        border-right:1px solid grey;
    }


/********************************************************************************************/
/*                                      PLAYLISTS                                            */
/********************************************************************************************/
.tracks-from-playlist{
    padding-top:15px;
}
    .tracks-from-playlist .item{
        padding:5px 0px;
    }
        .tracks-from-playlist .item.odd{
            background-color: rgba(255,255,255,0.2);
        }
        .tracks-from-playlist .item:hover{
            background-color: rgba(255,255,255,0.4);
            cursor:pointer;
        }
        .tracks-from-playlist .item .song{
            font-weight: bold;
        }
        .tracks-from-playlist .item .artist{
            font-size: 10px;
        }

/********************************************************************************************/
/*                                      RESPONSIVE                                          */
/********************************************************************************************/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

    .part-connexion {
        width: 100% !important;
        margin: 0 !important;
    }

        .part-connexion .part {
            width: 100% !important;
            margin: 0 !important;
            margin-bottom: 20px !important;
        }

            .part-connexion .part .button {
                font-size: 1.5em !important;
            }

    .part-transfer {
        font-size: 1.5em;
    }

    .part-discover {
        font-size: 1.5em;
        width: 100% !important;
        margin: 0 !important;
    }
        .part-discover .title{
            font-size: 1.5em !important;
        }
        .part-discover .part{
            width:100% !important;
        }
            .part-discover .part .title{
                font-size: 1em !important;
            }
            .part-discover .part .description{
                width: 100% !important;
                font-size: 0.7em !important;
            }
            .part-discover .part.numbers{
                display: none !important;
            }
}