#main-container{
    overflow: hidden;
    width:90%;
    margin:auto;
}


/********************************************************************************************/
/*                                      CONNEXIONS                                          */
/********************************************************************************************/
.part-connexion{
    text-align: center;
}
    .part-connexion img{
        height: 30px;
        opacity: 0.5;
    }
    .part-connexion .button{
        font-size: 80%;
        padding:5px 10px;
    }



/********************************************************************************************/
/*                                      TRANSFERTS                                          */
/********************************************************************************************/






/********************************************************************************************/
/*                                      DECOUVERTE                                          */
/********************************************************************************************/

 .lastfm{
    overflow: hidden;
    margin:20px auto 0px;
    border:none;
    color: white;
}
     .lastfm .picture{
        text-align: center;
    }
         .lastfm .picture img{
            width: 60%;
            border-radius: 360px;
        }
     .lastfm .content{
    }
         .lastfm .content .icon{
            text-align: center;
        }
             .lastfm .content .icon img{
                max-height:30px;
            }
         .lastfm .content .description{
            padding: 15px;
            text-align: justify;
        }
         .lastfm .numbers{
            border-left: 1px solid grey;
            min-height:200px;
        }
         .lastfm .numbers .title{
                text-align: center;
                color:#e39816;
                font-size:200%;
            }



/********************************************************************************************/
/*                                      POPIN YOUTUBE                                       */
/********************************************************************************************/
            
.overlay-youtube{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    height: 100%;
    width: 100%;
    top:0px;
    display: none;
    z-index:2 ;
}
    .overlay-youtube.active{
        display: block;
    }
    .overlay-youtube .close{
        display: inline-block;
        margin-top: 2%;
        text-align: center;
    }
    .overlay-youtube .video{
        margin-top:10%;
    }


/********************************************************************************************/
/*                                      RESPONSIVE                                          */
/********************************************************************************************/
@media screen and (max-width: 970px) {
    #main-container .numbers .plateform{
        border-left: none;
        border-top: 1px solid rgba(255,255,255,0.2);
        padding-top:20px;
    }
}