#container-search{
    margin:0px auto 0;
    width: 80%;
}
    #container-search .container{
        border-top:1px solid grey;
    }
        #container-search .soundcloud .main-icon{
            text-align: center;
        }
            #container-search .soundcloud .main-icon img{
                max-height: 40px;
            }
    #container-search .value-search{
        font-size: 80px;
        text-align: center;
        color:#e39816;
        margin-bottom: 40px;
    }
    #container-search .lastfm{
        overflow: hidden;
        margin:20px auto 0px;
        border:none;
        color: white;
    }
        #container-search .lastfm .picture{
            text-align: center;
        }
            #container-search .lastfm .picture img{
                width: 60%;
                border-radius: 360px;
            }
        #container-search .lastfm .content{
        }
            #container-search .lastfm .content .icon{
                text-align: center;
            }
                #container-search .lastfm .content .icon img{
                    max-height:30px;
                }
            #container-search .lastfm .content .description{
                padding: 15px;
                text-align: justify;
            }
        #container-search .lastfm .numbers{
            border-left: 1px solid grey;
            min-height:200px;
        }
            #container-search .lastfm .numbers .title{
                text-align: center;
                color: #7e520d;
                font-size:200%;
            }
        #container-search .lastfm .numbers .tags{
            width:90%;
            margin:auto;
        }
            #container-search .lastfm .numbers .tags span{
                background-color:#e39816;
                padding-left: 7px;
                padding-right: 7px;
                border-radius: 7px;
                margin-top:5px;
                display: inline-block;
                font-size:80%;
            }
    #container-search .container-music-youtube{
        margin-top:40px;
        overflow: hidden;
    }
        #container-search .container-music-youtube .part{
        }
            #container-search .container-music-youtube .part .noconnect{
                text-align: center;
                color:white;
                padding:40px 0;
            }
                #container-search .container-music-youtube .part .noconnect .details{
                }
                #container-search .container-music-youtube .part .noconnect .images{
                    margin: 20px auto 20px;
                }
                    #container-search .container-music-youtube .part .noconnect .images img{
                        width:10%;
                    }
                #container-search .container-music-youtube .part .noconnect .button{
                }
            #container-search .container-music-youtube .part .icon{
                text-align: center;
            }
                #container-search .container-music-youtube .part .icon img{
                    max-height: 40px;
                }

                    /*              MUSIC                 */
                    #container-search .container-music-youtube .part.music .list .play{
                        float: left;
                        width: 15%;
                        text-align: center;
                    }
                        #container-search .container-music-youtube .part.music .list .play img{
                            max-height: 40px;
                        }
                    #container-search .container-music-youtube .part.music .list .content{
                        float: left;
                        width: 60%;
                        color:white;
                    }
                        #container-search .container-music-youtube .part.music .list .content .name{

                        }
                            #container-search .container-music-youtube .part.music .list .content .name .artist{
                                font-weight: bold;
                            }
                            #container-search .container-music-youtube .part.music .list .content .name .song{

                            }
                        #container-search .container-music-youtube .part.music .list .content .details{
                            font-size:13px;
                        }
                    #container-search .container-music-youtube .part.music .list .actions{
                        float: left;
                        width: 25%;
                        text-align: center;
                        padding-top:6px;
                    }
                        #container-search .container-music-youtube .part.music .list .actions img{
                            max-height: 30px;
                        }
                    /*              YOUTUBE                 */
                    #container-search .container-music-youtube .part.youtube .list .image{
                        float: left;
                        width: 30%;
                        text-align: center;
                        overflow: hidden;
                    }
                        #container-search .container-music-youtube .part.youtube .list .image img{
                            max-width: 90%;
                        }
                    #container-search .container-music-youtube .part.youtube .list .content{
                        float: left;
                        width: 70%;
                        color:white;
                    }
                        #container-search .container-music-youtube .part.youtube .list .content .name{
                            color:#e39816;
                        }
                            #container-search .container-music-youtube .part.youtube .list .content .name .artist{
                                font-weight: bold;
                            }
                            #container-search .container-music-youtube .part.youtube .list .content .name .song{

                            }
                        #container-search .container-music-youtube .part.youtube .list .content .details{
                            font-size:13px;
                            text-indent: 10px;
                        }
                            #container-search .container-music-youtube .part.youtube .list .content .details img{
                                max-height: 10px;
                                margin-left: 10px;
                            }
                            #container-search .container-music-youtube .part.youtube .list .content .details .button{
                                font-size:10px;
                                padding:5px;
                            }
            .overlay-youtube{
                position: fixed;
                background-color: rgba(0,0,0,0.5);
                text-align: center;
                height: 100%;
                width: 100%;
                top:0px;
                display: none;
                z-index:2 ;
            }
                .overlay-youtube.active{
                    display: block;
                }
                .overlay-youtube .close{
                    display: inline-block;
                    margin-top: 2%;
                    text-align: center;
                }
                .overlay-youtube .video{
                    margin-top:10%;
                }

    #container-search .container-albums{
        padding-bottom: 100px;
        cursor: pointer;
    }
        #container-search .container-albums .images{
            width:100%;
            overflow-x: scroll;
        }
            #container-search .container-albums .images .container-album{
                float:left;
                width: 20%;
                text-align: center;
                padding-bottom: 15px;
                padding-top: 15px;
            }
                #container-search .container-albums .images .container-album img{
                    max-height: 60px;
                }
                .searchAlbumTitle{
                    color:white;
                }
        #container-search .container-albums .music{
            background-color: rgba(0,0,0,0.3);
            width: 100%;
            min-height: 150px;
            padding-top:100px;
            padding-bottom:100px;
            color:white;
            text-align: center;
        }



/********************************************************************************************/
/*                                      RESPONSIVE                                          */
/********************************************************************************************/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

    .part-discover {
        font-size: 1.5em;
        width: 100% !important;
        margin: 0 !important;
    }
    .part-discover .title{
        font-size: 1.5em !important;
    }
    .part-discover .part{
        width:100% !important;
    }
    .part-discover .part .title{
        font-size: 1em !important;
    }
    .part-discover .part .description{
        width: 100% !important;
        font-size: 0.7em !important;
    }
    .part-discover .part.numbers{
        display: none !important;
    }
    .part-discover .value-search{
        font-size: 1.5em !important;
    }


    .container-music-youtube .part{
        width:100% !important;
    }
        .container-music-youtube .part .button{
            font-size: 1.5em !important;
        }
}