body{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: font;
    background-color: #3b3b3b;
    background-image: url("../img/global/background.jpg");
}

@font-face {
    font-family: font;
    src: url("../fonts/c_l.ttf");
}

/***************************************************************************************************************/
/*                                             STYLE GLOBAL                                                    */
/***************************************************************************************************************/
    .container{
        width: 100%;
        margin: 0px;
        padding:0px;
    }

    input[type=text], input[type=password], input[type=email]{
        padding:5px;
        background-color: #a5a5a5;
        border-radius: 360px;
        font-size: 100%;
        font-family: font;
        font-weight: bold;
        user-select: none;
        border-style:none;
        color:white !important;
        text-indent: 5px;
    }
    .button, input[type=submit]{
        background-color:#e39816;
        border-radius: 360px;
        margin-top:10px;
        color:white;
        border:none;
        padding:10px 20px;
        cursor: pointer;
        text-transform: uppercase;
        font-size:120%;
        font-family: font;
        user-select: none;
        text-transform: uppercase;
        display: inline-block;
    }
        .button:hover, input[type=submit]:hover{
            background-color:#a9700c;
            color:white;
            text-decoration: none;
        }
        .button.disconnect, input[type=submit].disconnect{
            background-color: #c03c3c;
        }
            .button.disconnect:hover, input[type=submit].disconnect:hover{
                background-color:#b33030;
            }
    a{
        color:white;
        text-decoration: none;
    }
        a:hover{
            color:white;
            text-decoration: underline;
        }
        a:active{
            color:white;
            text-decoration: underline;
        }

/****************************************************************************************************************/
/*                                                LISTS                                                         */
/****************************************************************************************************************/

    .list{
        width: 80%;
        margin:15px auto 20px;
    }
        .list .item{
            overflow: hidden;
            padding-top:6px;
            padding-bottom:6px;
            background-color: rgba(0,0,0,0.2);
        }
            .list .item.odd{
                background-color: rgba(255,255,255,0.05);
            }

            .list .play{
                float: left;
                width: 15%;
                text-align: center;
            }
                .list .play img{
                    max-height: 40px;
                }
            .list .content{
                float: left;
                width: 70%;
                color:white;
            }
                .list .content .name{

                }
                    .list .content .name .artist{
                        font-weight: bold;
                    }
                    .list .content .name .song{

                    }
                .list .content .details{
                    font-size:13px;
                }
            .list .actions{
                float: left;
                width: 15%;
                text-align: center;
                padding-top:6px;
            }
                .list .actions img{
                    max-height: 30px;
                }













/****************************************************************************************************************/
/*                                                CONTAINER TABS                                                */
/****************************************************************************************************************/

    .container-tab{
        width:80%;
        margin:0 auto 30px !important;
    }
        .container-tab .thumbnails{

        }
            .container-tab .thumbnails .item{
                padding:10px 20px;
                background-color: rgba(0,0,0,0.1);
                display: inline-block;
                border-top:2px solid rgba(0,0,0,0.05);
            }
                .container-tab .thumbnails .item:hover{
                    background-color: rgba(0,0,0,0.2);
                    cursor: pointer;
                }
                .container-tab .thumbnails .item.active{
                    background-color: rgba(0,0,0,0.3);
                    border-top:2px solid #e39816;
                }
                    .container-tab .thumbnails .item.active:hover{
                        background-color: rgba(0,0,0,0.3);
                    }
        .container-tab .content{
            background-color: rgba(0,0,0,0.3);
            padding:15px;
            min-height: 300px;
        }
            .container-tab .content .title{
                text-align: center;
                font-size: 150%;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .container-tab .content .content-thumb{
                display: none;
            }
                .container-tab .content .content-thumb.active{
                    display: block;
                }




/****************************************************************************************************************/
/*                                                HEADER                                                        */
/****************************************************************************************************************/
header{
    padding:7px !important;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #4b4b4b;
    border-bottom: 1px solid #e39816;
    color: white;
    z-index: 2;
}
    header .recherche-container{
    }
        header .recherche-container .recherche{
            width: 80%;
            padding-right: 35px;
        }
        header .recherche-container input[type=submit]{
            background-image: url("../img/header/icone_recherche.png");
            background-repeat: no-repeat;
            background-position: center right;
            width: 30px;
            height: 25px;
            background-color: transparent;
            border-radius: 360px;
            margin-left:-40px;
            position: relative;
            top:-3px;
        }

        .search-result{
            background-color:rgba(0,0,0,0.7);
            color:white;
            font-size: 12px !important;
        }
            .search-result:hover{
                background-color:#e39816;
                border:0px solid transparent;
                background-repeat: no-repeat;
                background-position: center right;
                background-image: url("../img/global/search-hover-icon.png");
            }
            .search-result img{
                height:25px;
                margin-right: 5px;
            }


    header .title{
        font-size:150%;
        text-align: center;
        color:white;
        text-decoration: none;
        display: block;
    }
        header .title:hover{
            color:silver;
        }
    header .plateformes{
        text-align:right;
    }
        header .plateformes img{
            height:20px;
            margin-left: 5px;
            position: relative;
            top:2px;
            cursor: pointer;
        }

    /************************************************************/
    /*                          POPIN                           */
    /************************************************************/
    .popin {
        position: fixed;
        width:150px;
        z-index: 2;
        background-color: rgba(0,0,0,0.5);
        top:65px;
        right:15px;
        padding:15px;
        text-align: center;
        display: none;
    }
        .popin .triangle {
            width: 0;
            height: 0;
            border: solid 8px;
            border-color: transparent transparent rgba(0,0,0,0.5) transparent;
            margin:-31px auto 15px;
            position: relative;
            left:60px;
        }
        .popin .button{
            font-size: 11px;
            padding:7px;
        }
        .popin.active{
            display: block;
        }
        .popin .inpopin{
            display: block;
        }





/****************************************************************************************************************/
/*                                                FOOTER                                                        */
/****************************************************************************************************************/
#footer{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding:20px;
    color:white;
    text-align: center;
}
    #footer ul{
        padding:0;
        margin:0;
    }
        #footer ul li{
            list-style: none;
        }

    #footer .logo{
        width:90%;
        max-width: 100px;
        margin-top:15px;
    }
    #footer .title-logo{
        width:20px;
        opacity: 0.5;
        margin-bottom:15px;
    }

/****************************************************************************************************************/
/*                                                GLOBAL STYLE                                                  */
/****************************************************************************************************************/

#main-container{
    margin-top:52px;
    color:white
}

.backgound-grey{
    background-color:rgba(0,0,0,0.3);
    width:90%;
    margin:auto;
    padding:15px;
}

.contentBodyContainer
{
    padding-top: 75px;
}












@media screen and (max-width: 970px) {
    header .recherche-container{
        text-align: center;
    }
        header .recherche-container .recherche{
            width: 90%;
        }
    header .plateformes{
        text-align: center;
    }

    .contentBodyContainer
    {
        padding-top: 125px;
    }
}
