<div class="part-playlist col-xs-12">
    Créez tout de suite votre playlist pour y ajouter
    <br/>
    toutes les découvertes que vous ferez aujourd'hui
    <div class="form-create-playlist">

    </div>
</div>