<div class="part-transfer col-xs-12">
    {% if app.user.credentials.spotifyToken == null or app.user.credentials.deezerToken == null or app.user.credentials.youtubeToken == null %}
        Connectez-vous à deux plateformes et réaliser tout de suite <br/> un transfert de vos playlists
    {% else %}
        {% if app.user.credentials.spotifyToken != null and app.user.credentials.deezerToken != null
        or app.user.credentials.spotifyToken != null and app.user.credentials.youtubeToken != null
        or app.user.credentials.youtubeToken != null and app.user.credentials.deezerToken != null %}
            Vous êtes connectés sur 2 plateformes
            <br/>
            pourquoi ne pas transférer vos données?
        {% else %}
            Réalisez facilement un transfert de données.
            <br/>
            Il vous est possible de transférer toutes vos playlists entre spotify, deezer et youtube.
        {% endif %}
    {% endif %}
    <br/>
    <img src="{{ asset('img/dashboard/index/transfer.png') }}" alt="Icone transfert">
    <br/>
    <a  class="button" href="{{ path("transfer") }}">
        Effectuez un transfert
    </a>
</div>