<option value="null">Choisir une playlist Youtube...</option>
{% for youtubePlaylist in youtubePlaylists %}
    <option value="{{ youtubePlaylist.id }}">{{ youtubePlaylist.modelData.snippet.title }}</option>
{% endfor %}