    <div class="col-xs-2 number">
        <div class="out">
            <div class="in">
                3
            </div>
        </div>
    </div>
    <div class="col-xs-9 title-part">
        {{ "transfer.steps.step3"|trans }}
    </div>
    <div class="col-xs-12 content content-2 items-select">
        <span class="custom-dropdown custom-dropdown--white">
            <select id="playlist-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white  playlists-choices">
            </select>
        </span>
    </div>
    <script>
        var url_playlist = '{{ path('transfer_getplaylists', {'playlist': 'playlist-placeholder'}) }}';
    </script>