    <div class="col-xs-3 number">
        <div class="out">
            <div class="in">
                2
            </div>
        </div>
    </div>
    <div class="col-xs-9 title-part">
        {{ "transfer.steps.step2"|trans }}
    </div>
    <div class="col-xs-12 content content-2 items-select">
        <span class="custom-dropdown custom-dropdown--white">
            <select id="type-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white  playlists-choices">
                <option>Paylists</option>
                <option>Artistes</option>
                <option>Albums</option>
            </select>
        </span>
    </div>
    <script>
        var url = '{{ path('transfer_getplaylists', {'playlist': 'playlist-placeholder'}) }}';
    </script>