    <div class="col-xs-3 number">
        <div class="out">
            <div class="in">
                3
            </div>
        </div>
    </div>
    <div class="col-xs-9 title-part">
        {{ "transfer.steps.step4"|trans }}
    </div>
    <div class="col-xs-12 content content-3">
        <span class="custom-dropdown custom-dropdown--white">
            <select id="plateform-end-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white">
                {% if app.user.credentials.deezerToken != null %}
                    <option value="deezer">Deezer</option>
                {% endif %}
                {% if app.user.credentials.youtubeToken != null %}
                    <option value="youtube">Youtube</option>
                {% endif %}
                {% if app.user.credentials.spotifyToken != null %}
                    <option value="spotify">Spotify</option>
                {% endif %}
            </select>
        </span>
    </div>