    <div class="col-xs-3 number">
        <div class="out">
            <div class="in">
                3
            </div>
        </div>
    </div>
    <div class="col-xs-9 title-part">
        {{ "transfer.steps.step3"|trans }}
    </div>
    <div class="col-xs-12 content content-3 items-select">
        <span class="custom-dropdown custom-dropdown--white">
            <select id="playlist-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white  playlists-choices">
                <option value="value">Playlist gfd</option>
                <option value="value">Playlist mqlsf</option>
                <option value="value">Playlist =sdfe</option>
                <option value="value">Playli</option>
                <option value="value">Playlist dfgsedtr er26</option>
                <option value="value">Playlist 15/06</option>
                <option value="value">Playlist</option>
            </select>
        </span>
    </div>