    <div class="col-xs-3 number">
        <div class="out">
            <div class="in">
                3
            </div>
        </div>
    </div>
    <div class="col-xs-9 title-part">
        {{ "transfer.steps.step3"|trans }}
    </div>
    <div class="col-xs-12 content content-3 items-select">
        <span class="custom-dropdown custom-dropdown--white">
            <select id="plateform-start-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white  playlists-choices">
                <option class="active">Playlist g fhdfh</option>
                <option>Playlist gfd</option>
                <option>Playlist mqlsf</option>
                <option>Playlist =sdfe</option>
                <option>Playli</option>
                <option>Playlist dfgsedtr er26</option>
                <option>Playlist 15/06</option>
                <option>Playlist</option>
            </select>
        </span>
    </div>