    <div class="col-xs-3 number">
        <div class="out">
            <div class="in">
                4
            </div>
        </div>
    </div>
    <div class="col-xs-9 title-part">
        {{ "transfer.steps.step4"|trans }}
    </div>
    <div class="col-xs-12 content content-4">
        <span class="custom-dropdown custom-dropdown--white">
            <select id="plateform-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white">
                <option value="deezer">Deezer</option>
                <option value="youtube">Youtube</option>
                <option value="spotify">Spotify</option>
            </select>
        </span>
    </div>