<form class="col-xs-12" action="{{ path('spotify_create_playlist') }}" method="post">
    <input type="text" value="{{ "dashboard.deezer.createPlaylist.name"|trans }}" name="name">
    <br/>
    <input type="submit" value="{{ "dashboard.youtube.createPlaylist.create"|trans }}">
</form>

