{% for follow in myFollowed.artists.items %}
<li class="container">
    <div class="col-xs-2 image">
        <img src="{{ follow.images[0].url }}" alt="">
    </div>
    <div class="col-xs-10 name">
        {{ follow.name }}
    </div>
</li>
{% endfor %}

