<div class="container-songs-images">
    {% if albums|length > 0 %}
        {% for album in albums.items %}
            <div class="col-xs-3">
                <div class="col-xs-12 image">
                    <img src="{{ album.album.images[0].url }}" alt="">
                </div>
                <div class="col-xs-12 album-name">
                    {{ album.album.name }}
                </div>
                <div class="col-xs-12 artist">
                    {{ album.album.artists[0].name }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>