<div class="container-songs-images container">
    {% for topArtist in topArtists.items %}
        <div class="col-xs-3">
            <div class="col-xs-12 image">
                <img src="{{ topArtist.images[0].url }}" alt="">
            </div>
            <div class="col-xs-12 name">
                {{ topArtist.name }}
            </div>
            <div class="col-xs-12 followers">
                {{ topArtist.followers.total }}
                <br/>
                Followers
            </div>
        </div>
    {% endfor %}
</div>