<option value="null">Choisir une playlist Spotify...</option>
{% for spotifyPlaylist in spotifyPlaylists %}
    {% if spotifyPlaylist.owner.id == userId %}
        <option value="{{ spotifyPlaylist.id }}">{{ spotifyPlaylist.name }}</option>
    {% endif %}
{% endfor %}