<div class="container-songs-list">
    <ul>
        {% if recommendations|length %}
            {% for track in recommendations.tracks %}
                <li class="container {% if loop.index is divisibleby(2) %}odd{% endif %} playTrack" data-song-id="{{ track.id }}" data-platform="spotify">
                    <div class="col-xs-6 song">
                        {{ track.name }}
                    </div>
                    <div class="col-xs-6 artist">
                        {{ track.artists[0].name }}
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>