<div class="container-songs-list">
    <ul>
        {% for track in recommendations.tracks %}
            <li class="container {% if loop.index is divisibleby(2) %}odd{% endif %}">
                <div class="col-xs-6 artist">
                    {{ track.artists[0].name }}
                </div>
                <div class="col-xs-6">
                    {{ track.name }}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>