<div class="container container-videos">
    {% if videos != false %}
        {% for video in videos %}
            {% for item in video.items %}
                <div class="parts">
                    <div class="image col-xs-12">
                        <img src="{{ item.snippet.thumbnails.default.url }}" alt=" {{ item.snippet.title }}">
                    </div>
                    <div class="name col-xs-12">
                        {{ item.snippet.title[:18] }}
                    </div>
                    <button class="button video-link-popin" data-link="{{ item.id }}">Voir la vidéo</button>
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="parts">
            <div class="image col-xs-12">
                <img src="" alt=" ">
            </div>
            <div class="name col-xs-12">
            </div>
            <button class="button video-link-popin" data-link="">Voir la vidéo</button>
        </div>
    {% endif %}
</div>
