<div class="title">
    Rapport de transfert
</div>
<div class="title-log success">
    Transfert OK :
</div>
{% for successLog in successLogs %}
    <div class="line">
        {{ successLog }}
    </div>
{% endfor %}
<div class="title-log error">
    Transfert NOK :
</div>
{% for errorLog in errorLogs %}
    <div class="line">
        {{ errorLog }}
    </div>
{% endfor %}