<button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
<div>
    <h2 id="modal1Title">Remodal</h2>
    <p id="modal1Desc">
        Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin
        with declarative state notation and hash tracking.
    </p>
</div>
<br>
<button data-remodal-action="cancel" class="button">Cancel</button>
<button data-remodal-action="confirm" class="button">OK</button>