
    <div>
        <h2 id="modal2Title">Another one window</h2>
        <p id="modal2Desc">
            Hello!
        </p>
    </div>
    <br>
    <button data-remodal-action="confirm" class="button">Hello!</button>