
<div class="main-icon icon">
    <img src="{{ asset('img/search/spotify.png') }}" alt="">
</div>
<div class="list">
    {% if musics != false %}
        {% for items in musics %}
            {% for key, item in items %}
            <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
                <div class="actions col-xs-1">
                    <span class="add-to-playlist" data-type="spotify" data-name="Musique n°1" data-id="123456">
                        +
                    </span>
                </div>
                <div class="actions col-xs-1">
                    <span class="playTrack" data-song-id="{{ item.id }}" data-platform="spotify">
                        ►
                    </span>
                </div>
                <div class="content col-xs-10">
                    <div class="name">
                        <span class="song">{{ item.name|truncate(50, true, '...') }}</span>
                    </div>
                    <div class="details">
                        {{ item.album.name|truncate(75, true, '...') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Spotify
        </div>
    {% endif %}
</div>