
<div class="main-icon icon">
    <img src="{{ asset('img/logo/deezer.png') }}" alt="">
</div>
<div class="list">
    {% for item in musics %}
        <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
            <div class="play col-xs-3">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content col-xs-9">
                <div class="name">
                    <span class="artist">{{ item.title|truncate(35, true, '...')  }}</span>
                </div>
                <div class="details">
                    {{ item.album.title|truncate(45, true, '...') }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Deezer
        </div>
    {% endfor %}
</div>