<div class="wikipedia container">
    <div class="part picture">
        <img src="{{ asset('img/search/wikipedia-artist.jpg') }}" alt="">
    </div>
    <div class="part content">
        <div class="icon">
            <img src="{{ asset('img/search/wikipedia-icon.png') }}" alt="">
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea onsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
</div>