<div class="container-albums container">
    <div class="images">
        {% for album in albums %}
            <div class="container-album">
                <img src="{{ album['image'][1]['#text'] }}" alt="{{ album['name'] }}">
                <span class="searchAlbumTitle">{{ album['name'] }}</span>
            </div>
        {% else %}
            {{ "search.lastFM.noTopAlbums"|trans }}
        {% endfor %}
    </div>
    {% if albums|length != 0 %}
        <div class="music">
            Choisir un album pour afficher les morceaux...
        </div>
    {% endif %}
</div>