
<div class="main-icon icon">
    <img src="{{ asset('img/search/spotify.png') }}" alt="">
</div>
<div class="list">
    {% if musics != false %}
        {% for items in musics %}
            <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
                {% for key, item in items %}
                <div class="play col-xs-3">
                    <img src="{{ asset('img/search/play.png') }}" alt="">
                </div>
                <div class="content col-xs-9">
                    <div class="name">
                        <span class="song">{{ item.name|truncate(50, true, '...') }}</span>
                    </div>
                    <div class="details">
                        {{ item.album.name|truncate(75, true, '...') }}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Spotify
        </div>
    {% endif %}
</div>